<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
        colors="false" >

    <testsuites>
        <testsuite name="MockMaker Test Suite">
            <directory>./tests/MockMaker/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./library/MockMaker/</directory>
        </whitelist>
        <blacklist>
            <directory>./library/MockMaker/FileTemplates</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/reports/html" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./tests/reports/coverage.xml"/>
        <!--
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-html" target="tests/reports/testdox.html"/>
        <log type="coverage-php" target="tests/reports/coverage.serialized"/>
        <log type="tap" target="tests/reports/logfile.tap"/>
        <log type="junit" target="tests/reports/logfile.xml" logIncompleteSkipped="false"/>
        <log type="json" target="tests/reports/logfile.json"/>
        <log type="testdox-text" target="tests/reports/testdox.txt"/>
        -->
    </logging>

</phpunit>