<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
        colors="false" >

    <testsuites>
        <testsuite name="MockMaker Test Suite">
            <directory>./tests/MockMaker</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./library/MockMaker</directory>
            <exclude>
                <directory suffix=".php">./library/MockMaker/FileTemplates</directory>
            </exclude>
        </whitelist>
    </filter>

    <!--
    <logging>
        <log type="coverage-clover" target="./tests/reports/coverage.xml"/>
        <log type="coverage-html" target="./tests/reports/html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    -->

</phpunit>